<html lang="fr">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Hello</h1>
    <form method="post">
        {% csrf_token %}
        <input type="search" placeholder="#hashtag, sujet..." name="q">
        <button type="submit" action=""><img href="" alt="Rechercher"></button>
    </form>
    {% if conversations %}
    {% for id, conversation in conversations.items %}
    <h2>CONVERSATION {{id}}</h2>
    {% for tweet in conversation %}
    {{tweet.conversation_id}} <br>
    {{tweet.author_id}} <br>
    {{tweet.id}} <br>
    {{tweet.text}} <br>
    {{tweet.public_metrics}} <br>
    {{tweet.source}} <br> <br>
    {% endfor %}
    {% endfor %}
    {% endif %}
</body>

</html>