<html lang="fr">

<head>
    <meta charset="utf-8">
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-graph.min.js"></script>
    {% load static %}
    {{ conversations_json|json_script:"conversations_json" }}
    <script src="{% static 'charts.js' %}"></script>
</head>

<body>
    <h1>Hello</h1>
    <form method="post">
        {% csrf_token %}
        <input type="search" placeholder="#hashtag, sujet..." name="q">
        <button type="submit" action=""><img href="" alt="Rechercher"></button>
    </form>
</body>

</html>